// Palette
$white: #ffffff;
$red: #D1222D;
$pink: #E79095;
$light-pink: #F9E6E7;
$dark-grey: #5D5D5D;
$medium-grey: #7A7A7A;
$grey: #8C8C8C;
$light-grey: #F7F7F7;
$base-red: $red;
$sec-color: $white;
$body-bkg: $light-grey;
$font-color: #575757;
$border-color: #e6e6e6;
$border-high: #b4b4b4;